<ul class="row" id="mylist">

</ul>

@section scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $.get(config.apiUrl, function (data) {
            for(var i in data)
            {
                var item = data[i];
                if (item.length > 0) {
                    $("#mylist").append("<li>" + data[i] + "</li>");
                }
            }
        });
    });

</script>


    
}